node_modules
.idea
.env
.DS_Store
Xchangerator/Pods/
Xchangerator/Xchangerator.xcworkspace/xcuserdata
Xchangerator/Xchangerator.xcodeproj/xcuserdata
Xchangerator.xcworkspace/xcshareddata
AppServer/xchangerator-firebase-adminsdk*.json
BuildTools/.build
BuildTools/.swiftpm
