node_modules
.idea
.env
.DS_Store
Xchangerator/Pods/
Xchangerator/Xchangerator.xcworkspace/xcuserdata
Xchangerator/Xchangerator.xcodeproj/xcuserdata
AppServer/xchangerator-firebase-adminsdk*.json
Xchangerator/BuildTools/.build
Xchangerator/BuildTools/.swiftpm
