<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065863548144-hvgvkde70s78vcb4pkcq0r6tgh3k25jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065863548144-hvgvkde70s78vcb4pkcq0r6tgh3k25jt</string>
	<key>API_KEY</key>
	<string>AIzaSyCU0JzwnveuBJ6LD-T51BEE89G7n86mt7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1065863548144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YYES.Xchangerator</string>
	<key>PROJECT_ID</key>
	<string>xchangerator</string>
	<key>STORAGE_BUCKET</key>
	<string>xchangerator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065863548144:ios:40d32613351d64599e4635</string>
	<key>DATABASE_URL</key>
	<string>https://xchangerator.firebaseio.com</string>
</dict>
</plist>