Text:
    a. Query 170+ currencies free with ads 
    b. Customize alerts on demand
    c + d. Serve your plan 24/7  


    Ps: (c+d. One page 2 screenshots
    	Lock screen: transparent banner
    	App Xchangerator coverpage: blue banner
    )

    